

.banner-1 {
    background: url('../../img/banner-1.jpg') center no-repeat;
    height: 1070px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .textContainer {
        width: 70%;

        h1 {
            font-size: 70px;
        }

        h4 {
            font-size: 24px;
        }

        span {
            display: block;
            font-size: 18px;

            &:nth-child(2n) {
                margin-bottom: 30px;
            }
        }
    }
}